<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="Si3.divertech"
    android:installLocation="auto">


    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/divertechlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/divertechlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Divertech"
        tools:targetApi="31">

        <activity
            android:name=".ParkingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qr_reader.CameraPreviewActivity" />
        <activity
            android:name=".EventActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAP_API_KEY}"/>
        <activity
            android:name=".MultiPagesActivity"
            android:exported="true"/>
        <activity
            android:name=".LanguageModificationActivity"
            android:exported="true"/>
        <activity
            android:name=".MultiPagesAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ListEventActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            />
    </application>
</manifest>