<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="Si3.divertech"
    android:installLocation="auto">
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/divertechlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/divertechlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Divertech"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="orientation|keyboardHidden|screenSize" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParkingActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/notifications"
            android:theme="@style/Base.Theme.Divertech.ActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".qr_reader.CameraPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".EventActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".MapActivity"
            android:label="@string/ma_carte"
            android:theme="@style/Base.Theme.Divertech.ActionBar"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAffx5TpCmiWghzujOAo4d8STmxtEAQeBY"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".MultiPagesActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Divertech.ActionBar"
            android:label="@string/contact"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".MultiPagesAdminActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Divertech.ActionBar"
            android:label="@string/contact"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ListEventActivity"
            android:theme="@style/Base.Theme.Divertech.ActionBar"
            android:label="@string/events"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>
</manifest>